attrs==17.4.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.2.1
enum34==1.1.6
funcsigs==1.0.2
ipython==5.5.0
ipython-genutils==0.2.0
linecache2==1.0.0
more-itertools==4.1.0
msgpack-numpy==0.4.2
msgpack-python==0.5.1
numpy==1.13.0
pathlib==1.0.1
pathlib2==2.3.0
pexpect==4.3.1
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.2
Pygments==2.2.0
pytest==3.4.0
-e git+git@github.com:abaisero/pytk.git@e12525c839302dd0339a6f0b5c7e2d1c0f3fa39e#egg=pytk
scandir==1.6
simplegeneric==0.8.1
six==1.10.0
traceback2==1.4.0
traitlets==4.3.2
unittest2==1.1.0
wcwidth==0.1.7
